.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 28px 28px;
  width: 360px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  margin: 0 0 8px 0;
  font-size: 20px;
  font-weight: 600;
}

.option {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fafafa;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
}

.option.first:after {
  content: "";
  position: absolute;
  inset: -6px; /* отступ вокруг */
  border: 2px solid #888;
  border-radius: 12px;
  pointer-events: none;
}
 

.option:hover {
  background: #f2f2f2;
}

.closeBtn {
    height: 40px;
    width: 40px;
    background: rgb(205, 205, 205);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-top: -10px;    
    margin-right: -10px;
    background-image: url('../assets/close.svg');
    background-size: 25px 25px;
    background-position: center ;
    
    background-repeat: no-repeat;

}

.closeBtn:hover {
  background-color: rgb(185, 185, 185);
}
.header_container{
    display: flex;
}